<%
  const licenceType = configFns.getLicenceType(licence.licenceTypeKey);
%>
<div class="panel">
  <h2 class="panel-heading">
    <%= (licenceType ? licenceType.licenceType : licence.licenceTypeKey) %> Licence Fields
  </h2>
  <%
    let hasFields = false;

    let licenceFieldValueMap = {};

    for (let fieldIndex = 0; fieldIndex < licence.licenceFields.length; fieldIndex += 1) {

      const licenceField = licence.licenceFields[fieldIndex];
      licenceFieldValueMap[licenceField.fieldKey] = licenceField.fieldValue;
    }
  %>
  <% for (let configIndex = 0; configIndex < licenceType.licenceFields.length; configIndex += 1) { %>
    <%
      const licenceFieldConfig = licenceType.licenceFields[configIndex];

      if (!licenceFieldConfig.isShownOnEvent) {
        continue;
      }

      let licenceFieldValue = licenceFieldValueMap[licence.licenceTypeKey + "-" + licenceFieldConfig.fieldKey] || "";

      if (!licenceFieldConfig.isActive && (licenceFieldValue === null || licenceFieldValue === "")) {
        continue;
      }

      hasFields = true;
    %>
    <div class="panel-block">
      <p>
        <strong><%= licenceFieldConfig.fieldLabel %></strong><br />
        <% if (licenceFieldValue && licenceFieldValue.trim() !== "") { %>
          <%= licenceFieldValue %>
        <% } else { %>
          <span class="has-text-grey">(Not Set)</span>
        <% } %>
      </p>
    </div>
  <% } %>
  <% if (!hasFields) { %>
    <div class="panel-block is-block">
      <div class="message is-info">
        <p class="message-body">
          There are no additional licence fields to show.
        </p>
      </div>
    </div>
  <% } %>
</div>
