</main>
<footer class="footer has-background-grey-lighter has-text-dark has-margin-top-20 is-hidden-print">
  <div class="container">
    <div class="content has-text-right">
      <p>
        <strong class="has-text-grey-dark">
          <%= configFns.getProperty("application.applicationName") %></strong><br />
      </p>
    </div>
  </div>
</footer>
<script src="/javascripts/main.min.js"></script>
