</main>
<footer class="footer has-background-grey-lighter has-text-dark is-hidden-print">
  <div class="container">
    <div class="content has-text-right">
      <p class="has-text-grey-dark">
        <strong>
          <%= configFns.getProperty("application.applicationName") %>
        </strong><br />
        Build <%= buildNumber %>
      </p>
    </div>
  </div>
</footer>
<script>
  window.exports = window.exports || {};
</script>
<script src="/cityssm-bulma-webapp-js/dist/cityssm.min.js"></script>
<script src="/javascripts/main.min.js"></script>
<script src="/cityssm-bulma-webapp-js/dist/cityssm-theme.min.js" defer></script>
