<nav class="panel">
  <div class="panel-heading">
    Licences
  </div>
  <a class="panel-block <%= (headTitle === "Licences" ? " is-active" : "") %>" href="/licences">
    <span class="panel-icon">
      <i class="fas fa-certificate" aria-hidden="true"></i>
    </span>
    Licence Search
  </a>
  <a class="panel-block <%= (headTitle === "Licence Type Summary" ? " is-active" : "") %>" href="/licences/licenceTypes">
    <span class="panel-icon">
      <i class="fas fa-file" aria-hidden="true"></i>
    </span>
    Licence Type Summary
  </a>
</nav>
