<nav class="panel">
  <div class="panel-heading">
    Licences
  </div>
  <% if (user.userProperties.canCreate) { %>
    <div class="panel-block">
      <a class="button is-primary is-fullwidth" href="/licences/new">
        <span class="icon is-small">
          <i class="fas fa-plus" aria-hidden="true"></i>
        </span>
        <span>Create a New Licence</span>
      </a>
    </div>
  <% } %>
  <a class="panel-block <%= (headTitle === "Licences" ? " is-active" : "") %>" href="/licences">
    <span class="panel-icon">
      <i class="fas fa-certificate" aria-hidden="true"></i>
    </span>
    Licence Search
  </a>
  <a class="panel-block <%= (headTitle === "Licence Type Summary" ? " is-active" : "") %>" href="/licences/licenceTypes">
    <span class="panel-icon">
      <i class="fas fa-file" aria-hidden="true"></i>
    </span>
    Licence Type Summary
  </a>
  <a class="panel-block <%= (headTitle === "Active Licence Summary" ? " is-active" : "") %>" href="/licences/activeSummary">
    <span class="panel-icon">
      <i class="fas fa-file" aria-hidden="true"></i>
    </span>
    Active Licence Summary
  </a>
</nav>
