<aside class="menu">
  <p class="menu-label">
    Licences
  </p>
  <ul class="menu-list">
    <li>
      <a class="<%= (headTitle === "Licences" ? "is-active" : "") %>" href="/licences">
        <span class="icon">
          <i class="fas fa-certificate" aria-hidden="true"></i>
        </span>
        Licence Search
      </a>
    </li>
    <% if (user.userProperties.canCreate) { %>
      <li>
        <a href="/licences/new">
          <span class="icon">
            <i class="fas fa-plus" aria-hidden="true"></i>
          </span>
          Create a New Licence
        </a>
      </li>
    <% } %>
  </ul>
  <p class="menu-label">
    Reports
  </p>
  <ul class="menu-list">
    <li>
      <a class="<%= (headTitle === "Licence Type Summary" ? "is-active" : "") %>" href="/licences/licenceTypes">
        <span class="icon">
          <i class="fas fa-file" aria-hidden="true"></i>
        </span>
        Licence Type Summary
      </a>
    </li>
    <li>
      <a class="<%= (headTitle === "Active Licence Summary" ? "is-active" : "") %>" href="/licences/activeSummary">
        <span class="icon">
          <i class="fas fa-file" aria-hidden="true"></i>
        </span>
        Active Licence Summary
      </a>
    </li>
  </ul>
</aside>
