<div class="column is-3 is-hidden-print has-background-white-bis" id="cityssm-theme--sidemenu-expanded">
  <aside class="menu">
    <p class="menu-label">
      Organizations
    </p>
    <ul class="menu-list">
      <li>
        <a class="<%= (headTitle === "Organizations" ? "is-active" : "") %>" href="/organizations">
          <span class="icon">
            <i class="fas fa-users" aria-hidden="true"></i>
          </span>
          Organization Search
        </a>
      </li>
      <% if (user.userProperties.canCreate) { %>
        <li>
          <a class="<%= (headTitle === "Organization Create" ? "is-active" : "") %>" href="/organizations/new">
            <span class="icon">
              <i class="fas fa-plus" aria-hidden="true"></i>
            </span>
            Create a New Organization
          </a>
        </li>
      <% } %>
    </ul>
    <% if (user.userProperties.canUpdate) { %>
      <p class="menu-label">
        Reports
      </p>
      <ul class="menu-list">
        <li>
          <a class="<%= (headTitle === "Organization Cleanup" ? "is-active" : "") %>" href="/organizations/cleanup">
            <span class="icon">
              <i class="fas fa-broom" aria-hidden="true"></i>
            </span>
            Organization Cleanup
          </a>
        </li>
        <% if (user.userProperties.isAdmin) { %>
          <li>
            <a class="<%= (headTitle === "Organization Recovery" ? "is-active" : "") %>" href="/organizations/recovery">
              <span class="icon">
                <i class="fas fa-trash-restore" aria-hidden="true"></i>
              </span>
              Organization Recovery
            </a>
          </li>
        <% } %>
      </ul>
    <% } %>
    <p class="menu-label">
      Help
    </p>
    <ul class="menu-list">
      <li>
        <a href="/docs/organizations.md" target="_blank">
          <span class="icon">
            <i class="fas fa-question-circle" aria-hidden="true"></i>
          </span>
          Organization Documentation
        </a>
      </li>
    </ul>
  </aside>
  <button class="button is-light is-fullwidth has-margin-top-20" id="cityssm-theme--sidemenu-collapse-button">
    <span class="icon is-small"><i class="fas fa-angle-double-left" aria-hidden="true"></i></span>
    <span>Hide Side Menu</span>
  </button>
</div>
<div class="column is-narrow is-hidden-print is-hidden" id="cityssm-theme--sidemenu-collapsed">
  <button class="button is-light has-tooltip-right" id="cityssm-theme--sidemenu-expand-button" data-tooltip="Expand Side Menu">
    <i class="fas fa-angle-double-right" aria-hidden="true"></i>
    <span class="sr-only">Expand Side Menu</span>
  </button>
</div>
