<nav class="panel">
  <div class="panel-heading">
    Events
  </div>
  <a class="panel-block <%= (headTitle === "Event Calendar" ? " is-active" : "") %>" href="/events">
    <span class="panel-icon">
      <i class="fas fa-calendar" aria-hidden="true"></i>
    </span>
    Event Calendar
  </a>
  <a class="panel-block <%= (headTitle === "Outstanding Events" ? " is-active" : "") %>" href="/events/outstanding">
    <span class="panel-icon">
      <i class="fas fa-file" aria-hidden="true"></i>
    </span>
    Outstanding Events
  </a>
  <a class="panel-block <%= (headTitle === "Financial Summary" ? " is-active" : "") %>" href="/events/financials">
    <span class="panel-icon">
      <i class="fas fa-file" aria-hidden="true"></i>
    </span>
    Event Financial Summary
  </a>
</nav>
