<aside class="menu">
  <p class="menu-label">
    Locations
  </p>
  <ul class="menu-list">
    <li>
      <a class="<%= (headTitle === "Locations" ? "is-active" : "") %>" href="/locations">
        <span class="icon">
          <i class="fas fa-users" aria-hidden="true"></i>
        </span>
        Location Search
      </a>
    </li>
    <% if (user.userProperties.canCreate) { %>
      <li>
        <a href="/locations/new">
          <span class="icon">
            <i class="fas fa-plus" aria-hidden="true"></i>
          </span>
          Create a New Location
        </a>
      </li>
    <% } %>
  </ul>
  <% if (user.userProperties.canUpdate) { %>
    <p class="menu-label">
      Reports
    </p>
    <ul class="menu-list">
      <li>
        <a class="<%= (headTitle === "Location Cleanup" ? "is-active" : "") %>" href="/locations/cleanup">
          <span class="icon">
            <i class="fas fa-broom" aria-hidden="true"></i>
          </span>
          Location Cleanup
        </a>
      </li>
    </ul>
  <% } %>
</aside>
