<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="/dashboard">Home</a></li>
    <li class="is-active">
      <a href="#" aria-current="page">
        <span class="icon"><i class="fas fa-cog" aria-hidden="true"></i></span>
        <span>Application Settings</span>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-1">
  Application Settings
</h1>

<div class="message is-warning">
  <div class="message-body">
    <p>
      <strong>Please proceed with caution.</strong><br />
      The settings below have the ability to tweak the behaviour of the application as a whole.
    </p>
  </div>
</div>

<%- include('_footerA'); -%>
<%- include('_footerB'); -%>
