<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="/dashboard">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Licences</a></li>
  </ul>
</nav>

<div class="columns">
  <div class="column">
    <h1 class="title is-1">
      Find a Licence
    </h1>
  </div>
  <% if (user.userProperties.licences_canEdit === "true") { %>
    <div class="column in-narrow has-text-right">
      <a class="button is-primary" href="/licences/new">
        <span class="icon is-small">
          <i class="fas fa-plus"></i>
        </span>
        <span>Create a New Licence</span>
      </a>
    </div>
  <% } %>
</div>

<%- include('_footerA'); -%>

<%- include('_footerB'); -%>
