<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="/dashboard">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Locations</a></li>
  </ul>
</nav>

<div class="columns">
  <div class="column">
    <h1 class="title is-1">
      Find a Location
    </h1>
  </div>
  <% if (user.userProperties.canCreate === "true") { %>
    <div class="column is-narrow has-text-right">
      <a class="button is-primary" href="/locations/new">
        <span class="icon is-small">
          <i class="fas fa-plus" aria-hidden="true"></i>
        </span>
        <span>Create a New Location</span>
      </a>
    </div>
  <% } %>
</div>

<div class="columns">
  <div class="column is-one-third">
    <form id="form--filters">
      <div class="field">
        <label class="label" for="filter--locationNameAddress">Location Name or Address</label>
        <div class="control has-icons-left">
          <input class="input" id="filter--locationNameAddress" name="locationNameAddress" type="text" />
          <span class="icon is-small is-left">
            <i class="fas fa-filter" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="column">
    <div id="container--searchResults">
      <p class="has-text-centered has-text-grey-lighter">
        <i class="fas fa-3x fa-circle-notch fa-spin" aria-hidden="true"></i><br />
        <em>Loading locations...</em>
      </p>
    </div>
  </div>
</div>

<%- include('_footerA'); -%>

<script src="/javascripts/location-search.min.js"></script>

<%- include('_footerB'); -%>
