<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="/dashboard">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Locations</a></li>
  </ul>
</nav>

<div class="level">
  <div class="level-left">
    <h1 class="title is-1">
      Find a Location
    </h1>
  </div>
  <% if (user.userProperties.canCreate) { %>
    <div class="level-right has-text-right is-hidden-print">
      <a class="button is-primary" href="/locations/new">
        <span class="icon is-small">
          <i class="fas fa-plus" aria-hidden="true"></i>
        </span>
        <span>Create a New Location</span>
      </a>
    </div>
  <% } %>
</div>

<div class="columns">
  <div class="column is-half">
    <div class="field">
      <label class="label" for="filter--locationNameAddress">Location Name or Address</label>
      <div class="control has-icons-left">
        <input class="input" id="filter--locationNameAddress" type="text" />
        <span class="icon is-small is-left">
          <i class="fas fa-filter" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="field">
      <label class="label" for="filter--locationIsDistributor">Distributor Status</label>
      <div class="control has-icons-left">
        <div class="select is-fullwidth">
          <select id="filter--locationIsDistributor">
            <option value="">(Unfiltered)</option>
            <option value="1">Show Only Distributors</option>
            <option value="0">Hide Distributors</option>
          </select>
        </div>
        <span class="icon is-small is-left">
          <i class="fas fa-filter" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="field">
      <label class="label" for="filter--locationIsManufacturer">Manufacturer Status</label>
      <div class="control has-icons-left">
        <div class="select is-fullwidth">
          <select id="filter--locationIsManufacturer">
            <option value="">(Unfiltered)</option>
            <option value="1">Show Only Manufacturers</option>
            <option value="0">Hide Manufacturers</option>
          </select>
        </div>
        <span class="icon is-small is-left">
          <i class="fas fa-filter" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="has-margin-top-20" id="container--searchResults">
  <p class="has-text-centered has-text-grey-lighter">
    <i class="fas fa-3x fa-circle-notch fa-spin" aria-hidden="true"></i><br />
    <em>Loading locations...</em>
  </p>
</div>

<%- include('_footerA'); -%>

<script src="/javascripts/location-search.min.js"></script>

<%- include('_footerB'); -%>
