<%- include('_header'); -%>

<div class="columns is-variable is-4-mobile is-4-tablet is-block-print" id="is-site-layout">
  <%- include("_sideMenu-organizations"); -%>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page">
          <span class="icon is-small"><i class="fas fa-users" aria-hidden="true"></i></span>
          <span>Organizations</span>
        </a></li>
      </ul>
    </nav>

    <h1 class="title is-1">
      Find an Organization
    </h1>

    <div class="box">
      <form id="form--filters">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="filter--organizationName">Organization Name</label>
              <div class="control has-icons-left">
                <input class="input" id="filter--organizationName" name="organizationName" type="text" />
                <span class="icon is-small is-left">
                  <i class="fas fa-filter" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label" for="filter--representativeName">Representative Name</label>
              <div class="control has-icons-left">
                <input class="input" id="filter--representativeName" name="representativeName" type="text" />
                <span class="icon is-small is-left">
                  <i class="fas fa-filter" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label" for="filter--isEligibleForLicences">Eligibility</label>
              <div class="control has-icons-left">
                <div class="select is-fullwidth">
                  <select id="filter--isEligibleForLicences" name="isEligibleForLicences">
                    <option value="">(All Statuses)</option>
                    <option value="1" selected>Eligible for New Licences</option>
                    <option value="0">Not Eligible</option>
                  </select>
                </div>
                <span class="icon is-small is-left">
                  <i class="fas fa-filter" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control has-text-right">
            <div class="facheck facheck-fas-checked facheck-inline has-checked-primary">
              <input id="filter--organizationIsActive" name="organizationIsActive" type="checkbox" />
              <label for="filter--organizationIsActive">
                Holds an Active Licence
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="mt-4" id="container--searchResults"></div>
  </div>
</div>

<%- include('_footerA'); -%>

<script src="/javascripts/organization-search.min.js"></script>

<%- include('_footerB'); -%>
