<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="/dashboard">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Organizations</a></li>
  </ul>
</nav>

<div class="level">
  <div class="level-left">
    <h1 class="title">
      Find an Organization
    </h1>
  </div>
  <% if (user.userProperties.organizations_canEdit === "true") { %>
    <div class="level-right">
      <a class="button is-primary" href="/organizations/new">
        <span class="icon is-small">
          <i class="fas fa-plus"></i>
        </span>
        <span>Create a New Organization</span>
      </a>
    </div>
  <% } %>
</div>

<div class="columns">
  <div class="column is-one-third">
    <form id="form--filters">
      <div class="field">
        <label class="label" for="filter--organizationName">Organization Name</label>
        <div class="control has-icons-left">
          <input class="input" id="filter--organizationName" name="organizationName" type="text" />
          <span class="icon is-small is-left">
            <i class="fas fa-filter"></i>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="column">
    <div id="container--searchResults" data-can-edit="<%= user.userProperties.organizations_canEdit %>"></div>
  </div>
</div>

<%- include('_footerA'); -%>

<script src="/javascripts/organization-search.min.js"></script>

<%- include('_footerB'); -%>
