<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="/dashboard">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Reports</a></li>
  </ul>
</nav>

<h1 class="title is-1">
  Find a Report
</h1>

<div class="message is-info">
  <p class="message-body">
    Note that more export options are available when viewing individual records.
  </p>
</div>

<div class="columns">
  <div class="column">
    <div class="panel">
      <h2 class="panel-heading">
        <i class="fas fa-fw fa-users" aria-hidden="true"></i>
        Organizations
      </h2>
      <a class="panel-block align-items-flex-start" href="/reports/organizations-withDefaultRepresentatives">
        <div class="has-text-centered has-margin-10">
          <span class="icon has-text-info">
            <i class="fas fa-2x fa-file " aria-hidden="true"></i>
          </span><br />
          <span class="tag is-info">CSV</span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless">Full Organization List with Default Representatives</h3>
          <p>
            Includes all active organizations eligible for new licences and their current default representatives.
            Can be used for creating mail merges.
          </p>
        </div>
      </a>
      <a class="panel-block align-items-flex-start" href="/reports/organizations-ineligible">
        <div class="has-text-centered has-margin-10">
          <span class="icon has-text-info">
            <i class="fas fa-2x fa-file " aria-hidden="true"></i>
          </span><br />
          <span class="tag is-info">CSV</span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless">Organizations Ineligible for New Licences</h3>
          <p>
            Includes all organizations that have been marked as ineligible for new licences, yet are still active in the system.
          </p>
        </div>
      </a>
      <a class="panel-block align-items-flex-start" href="/reports/organizations-deleted">
        <div class="has-text-centered has-margin-10">
          <span class="icon has-text-info">
            <i class="fas fa-2x fa-file " aria-hidden="true"></i>
          </span><br />
          <span class="tag is-info">CSV</span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless">Deleted Organization List</h3>
          <p>
            Includes all organizations that have been deleted <em>but are still recoverable</em>.
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="panel">
      <h2 class="panel-heading">
        <i class="fas fa-fw fa-certificate" aria-hidden="true"></i>
        Licences
      </h2>
      <a class="panel-block align-items-flex-start" href="/reports/licences-unpaid">
        <div class="has-text-centered has-margin-10">
          <span class="icon has-text-info">
            <i class="fas fa-2x fa-file " aria-hidden="true"></i>
          </span><br />
          <span class="tag is-info">CSV</span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless">Unpaid Licences</h3>
          <p>
            All licences with missing payment information.
          </p>
        </div>
      </a>
    </div>
    <div class="panel">
      <h2 class="panel-heading">
        <i class="fas fa-fw fa-calendar" aria-hidden="true"></i>
        Events
      </h2>
      <a class="panel-block align-items-flex-start" href="/reports/events-upcoming">
        <div class="has-text-centered has-margin-10">
          <span class="icon has-text-info">
            <i class="fas fa-2x fa-file " aria-hidden="true"></i>
          </span><br />
          <span class="tag is-info">CSV</span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless">Upcoming Events</h3>
          <p>
            All events scheduled for today or in the future.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>

<%- include('_footerA'); -%>

<%- include('_footerB'); -%>
