<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="/dashboard">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Reports</a></li>
  </ul>
</nav>

<h1 class="title is-1">
  Find a Report
</h1>


<%- include('_footerA'); -%>

<%- include('_footerB'); -%>
