@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulma-helpers/bulma-helpers';
@import '../../node_modules/bulma-extensions/bulma-calendar/src/sass/index';
@import '../../node_modules/bulma-extensions/bulma-divider/src/sass/index';


.has-min-page-height {
  min-height: 100vh;
}


/*
 * Form elements
 */

.textarea {
  resize: vertical;
}

.input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


/*
 * Date time picker
 */

.has-inline-datepicker .datetimepicker,
.has-inline-timepicker .datetimepicker {
  max-width: none;
}

.datetimepicker-dummy {

  &::before {
    display: none;
  }

  .datetimepicker-dummy-wrapper {
    border-radius: $input-radius;

    .datetimepicker-dummy-input:first-child {
      padding-left: $textarea-padding;
      text-indent: 0;
    }

    .datetimepicker-clear-button {
      font-weight: bold;
    }
  }
}
