@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulma-utilities/sass/bulma-utilities';
@import '../../node_modules/bulma-extensions/src/sass/index';


.is-justified-right {
  //sass-lint:disable-block no-important
  justify-content: flex-end !important;
}


.is-full-height {
  min-height: 100vh;
}


.is-width-1 {
  width: 1px;
}
