@import '@cityssm/bulma-webapp-css/cityssm';

.is-linethrough {
  text-decoration: line-through;
}

/*
 * Status containers
 */

.has-status-loaded .is-hidden-status-loaded,
.has-status-loading .is-hidden-status-loading,
.has-status-view .is-hidden-status-view,
fieldset:enabled .is-hidden-enabled {
  display: none;
}

.has-status-view .is-noninteractive-status-view {
  pointer-events: none;
}

// to fix page titles inside level components
// set on .level-left

.has-flex-shrink-1 {
  flex-shrink: 1;
}

.has-border-radius-3 {
  border-radius: 3px;
}

/*
 * Tabs
 */

.tab-content {
  display: none;

  &.is-active {
    display: block;
  }
}

#is-login-page {
  overflow: auto;

  body > .columns {
    min-height: 100vh;
  }
}
