@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulma-helpers/bulma-helpers';
@import '../../node_modules/bulma-divider/src/sass/index';
@import '../../node_modules/bulma-tooltip/src/sass/index';


@media screen {
  .has-min-page-height {
    min-height: 100vh;
  }

  .is-fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
  }
}

@media screen and (min-width: 769px), print {
  .has-desktop-max-width-700 {
    max-width: 700px;
  }
}

@media print {
  .is-hidden-print {
    display: none !important;
  }
}


fieldset:enabled .is-hidden-enabled {
  display: none;
}

.is-nowrap {
  white-space: nowrap;
}

.has-newline-chars {
  white-space: pre-wrap;
}


/*
 * Form elements
 */

.textarea {
  resize: vertical;
}

.input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}


/*
 * Tabs
 */


.tab-content {
  display: none;

  &.is-active {
    display: block;
  }
}
